<header>
    <div class="nav-wrapper">

        <a routerLink="/">
            <div class="logo">
                <img ngSrc="logo.svg" alt="Cesta de frutas" width="40"
                    height="38" priority />
                Menor Preço
            </div>
        </a>
        <ul class="ul-wrapper">
            <li>
                <a routerLink="/list">Minha Lista</a>
            </li>
            <li>
                <a routerLink="/account">Minha Conta</a>
            </li>
        </ul>
    </div>
</header>