<header>
    <div class="nav-wrapper">

        <a [href]="['/']">
            <div class="logo">
                <img ngSrc="logo.svg" alt="Cesta de frutas" width="45"
                    height="56" priority />
                Menor Preço
            </div>
        </a>

        <ul class="ul-wrapper">
            <li>
                <a [href]="['/list']">Minha Lista</a>
            </li>
            <li>
                <a [href]="['/account']">Minha Conta</a>

            </li>
        </ul>
    </div>
</header>